In [1]:
pwd()

'/Users/natharri/Documents/jupyter/project_state_rent_burden'

In [2]:
import pandas as pd

In [4]:
income = pd.read_csv('data/ACS5Y2020/ACSST5Y2020.S1903-Data.csv')

In [5]:
income.head()

,GEO_ID,NAME,S1903_C01_001E,S1903_C01_001EA,S1903_C01_001M,S1903_C01_001MA,S1903_C01_002E,S1903_C01_002EA,S1903_C01_002M,S1903_C01_002MA,...,S1903_C03_038EA,S1903_C03_039E,S1903_C03_039EA,S1903_C03_039M,S1903_C03_039MA,S1903_C03_040E,S1903_C03_040M,S1903_C03_040MA,S1903_C03_040EA,Unnamed: 482
0,Geography,Geographic Area Name,Estimate!!Number!!HOUSEHOLD INCOME BY RACE AND...,Annotation of Estimate!!Number!!HOUSEHOLD INCO...,Margin of Error!!Number!!HOUSEHOLD INCOME BY R...,Annotation of Margin of Error!!Number!!HOUSEHO...,Estimate!!Number!!HOUSEHOLD INCOME BY RACE AND...,Annotation of Estimate!!Number!!HOUSEHOLD INCO...,Margin of Error!!Number!!HOUSEHOLD INCOME BY R...,Annotation of Margin of Error!!Number!!HOUSEHO...,...,Annotation of Estimate!!Median income (dollars...,Estimate!!Median income (dollars)!!NONFAMILY H...,Annotation of Estimate!!Median income (dollars...,Margin of Error!!Median income (dollars)!!NONF...,Annotation of Margin of Error!!Median income (...,Estimate!!Median income (dollars)!!NONFAMILY H...,Margin of Error!!Median income (dollars)!!NONF...,Annotation of Margin of Error!!Median income (...,Annotation of Estimate!!Median income (dollars...,NaN
1,310M600US43760,"Sonora, CA Micro Area",22937,NaN,637,NaN,20975,NaN,588,NaN,...,NaN,32724,NaN,11262,NaN,65023,8695,NaN,NaN,NaN

In [6]:
income.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Columns: 483 entries, GEO_ID to Unnamed: 482
dtypes: float64(1), object(482)
memory usage: 7.7+ KB